
<div class="position-relative">
  <div class="bg-slide-small-opacity-3 "></div>
  <img src="../../../assets/images/projet2.jpg" alt="equipe toucans" height="400"
    class="w-100 objetFitCover ImageSlideHeader">
  <div
    class=" position-absolute top-50 start-50 translate-middle text-capitalize font-sketchflow  text-white text-center"
    style="z-index:1000">
    <div class="text-uppercase fs-2 fw-bold my-2 fst-italic shadow-md"> CrowRocket Projects</div>
  </div>
</div>
<!-- margin-->
<div class="my-5"></div>

<div class="container">
  <div class="row">
        <div class="col-md-4 my-2"   *ngFor="let proj of listeProjet">
          <!-- Composant Card-->
          <app-card [projet]="proj"></app-card>
        </div>
  </div>
</div>

