
<!--SLIDE-->
<div class="position-relative">
  <div class="bg-slide-small-opacity-3 "></div>
  <img src="../../../assets/images/FakeView.png" alt="equipe toucans" height="400" class="w-100 objetFitCover ImageSlideHeader">
  <div class=" position-absolute top-50 start-50 translate-middle text-capitalize font-sketchflow  text-white text-center"
      style="z-index:1000">
    <div class="text-capitalize fs-3 my-2">Concretiser vos projets </div>
    <button class="text-capitalize btn btn-md colorBtn-2 text-white ">s'enregistrer</button>
    <div class="text-capitalize fs-3 my-2">Investiser dans les projets innovants</div>
    <button class="text-capitalize btn btn-md colorBtn-1 text-white ">Projets</button>
  </div>
</div>

<!-- A propos de nous-->

<div class="my-5"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h-100 text-center">
          <div>
             <h1 class="fw-bold">A propos de nous</h1>
          </div>
          <div class="my-2 fs-5">La plateforme de crowfunding qui s'adapte à vos projets</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="h-100">
        <div>
          <img src="" alt="">
        </div>
        <div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, tempora voluptatem! Magni quasi ducimus unde, laborum cupiditate necessitatibus repudiandae ipsum beatae itaque nisi atque maxime,
           cum dolor, molestiae ab exercitationem ut voluptas cumque ullam dignissimos delectus accusantium? Ab autem vel labore numquam. Rerum, aperiam sunt!
        </div>
      </div>
    </div>
  </div>
</div>
