<!--SLIDE-->
<div class="position-relative">
  <div class="bg-slide-small-opacity-3 "></div>
  <img src="../../../assets/images/invest3.jpg" alt="equipe toucans" height="400"
    class="w-100 objetFitCover ImageSlideHeader">
  <div
    class=" position-absolute top-50 start-50 translate-middle text-capitalize font-sketchflow  text-white text-center"
    style="z-index:1000">
    <div class="text-capitalize fs-3 my-2">Concretiser vos projets </div>
    <button class="text-capitalize btn btn-md colorBtn-2 text-white ">s'enregistrer</button>
    <div class="text-capitalize fs-3 my-2">Investiser dans les projets innovants</div>
    <button class="text-capitalize btn btn-md colorBtn-1 text-white ">Projets</button>
  </div>
</div>

<!-- A propos de nous-->
<div class="my-5"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h-100 text-center my-5">
        <div>
          <h1 class="fw-bold color-1 text-capitalize">A propos de nous</h1>
        </div>
        <div class="my-2 fs-5 color-2">La plateforme de crowfunding qui s'adapte à vos projets</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="h-100 position-relative">
        <img src="../../../assets/images/priceUp.jpg" alt="" class="shadow objetFitCover w-100" height="400">
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 colorBtn-1 rounded p-4 text-white shadow AjusterLeText">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, tempora voluptatem! Magni quasi ducimus
        unde, laborum cupiditate necessitatibus repudiandae ipsum beatae itaque nisi atque maxime,
        cum dolor, molestiae ab exercitationem ut voluptas cumque ullam dignissimos delectus accusantium? Ab autem
        vel labore numquam. Rerum, aperiam sunt!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, tempora voluptatem! Magni quasi
        ducimus
        unde, laborum cupiditate necessitatibus repudiandae ipsum beatae itaque nisi atque maxime,
        cum dolor, molestiae ab exercitationem ut voluptas cumque ullam dignissimos delectus accusantium? Ab
        autem
        vel labore numquam. Rerum, aperiam sunt!
        unde, laborum cupiditate necessitatibus repudiandae ipsum beatae itaque nisi atque maxime,
        cum dolor, molestiae ab exercitationem ut voluptas cumque ullam dignissimos delectus accusantium? Ab
        autem
      </div>
    </div>
  </div>
</div>

<!-- Quel est votre Profil-->
<div class="container bg-white margin-70-Y p-5 rounded shadow">
  <div class="row">
    <div class="col">
      <div class="h-100 color-1 text-center margin-70-Y " style="font-weight:600;">
        <h4 class="text-capitalize">Quel est votre profil</h4>
        <div>Quelle place allez vous occuper dans l'économie participative</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="h-100 text-center">
        <div class="text-uppercase mb-4 color-2" style="font-weight:700;"> Je veux financer des projets</div>
        <div class="colorBtn-1 p-5 rounded shadow">
          <div class="AjusterLeText">
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi officiis est atque, tenetur ut id itaque,
            perspiciatis, voluptas nulla explicabo commodi odio
            molestias cupiditate placeat?
          </div>
          <button class="btn button-1 colorBtn-2 text-white my-5 "> Projets</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="h-100 position-relative">
        <div
          class="rounded-circle text-center colorBtn-1 position-absolute top-50 start-50 translate-middle p-3 text-white fw-bold">
          ou
        </div>
        <div class="col-6 border-right h-100">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="h-100 text-center ">
        <div class="text-uppercase mb-4 color-2" style="font-weight:700;"> Je veux financer des projets</div>
        <div class="colorBtn-1 p-5 rounded shadow">
          <div class="AjusterLeText">
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quasi officiis est atque, tenetur ut id itaque,
            perspiciatis, voluptas nulla explicabo commodi odio
            molestias cupiditate placeat?
          </div>
          <button class="btn button-1 colorBtn-2 text-white my-5 "> S'enregister</button>
        </div>
      </div>
    </div>
    <div class="my-5"></div>
  </div>
</div>

<!-- à qui s'adresse crownRocket -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h-100 my-3 color-2 ">
        <h4 class="text-capitalize text-center mb-2" style="font-weight:700; ">à qui S'adresse crownRocket</h4>
        <div class="AjusterLeText" style="font-size: 1.1rem;">Crownd'in est une plateforme de crownfunding et de
          prévente
          spécialisée dans
          l'accompagnement personnalisé des porteurs de projets situés en wallonie/à bruxelles et au-delà.Les projets
          de proximité
          Les projets commerciau, caritatifsou solidaires, culturels ou dans les secteurs de la santé et du spor,
          bénéficieront de notre expertise et de partenariats sectoriels.</div>
      </div>
    </div>
  </div>
</div>


<!-- Project mis à l'honneur -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="h-100 my-5 color-2 text-center">
        <h4 class="text-capitalize mb-2 " style="font-weight:700;">Projet mis à l'honneur</h4>
        <div class="AjusterLeText text-center" style="font-size: 1.1rem;">Notre équipe a souhaité mettre en avant ces
          projets inspirants, découvrez sans attendre</div>
      </div>
    </div>
  </div>
  <!-- CARD -->
  <div class="row">
    <div class="col-md-4">
      <a class="h-100 d-inline-block text-decoration-none text-dark shadow rounded" href="#">
        <div class="card">
          <img src="../../../assets/images/invest4.jpg" class=" objetFitCover" alt="project Image" width="430"
            height="300">
          <div class="card-body ">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content
              to build on the card title and make up the bulk of the card's.</p>
          </div>
          <div class="progress mt-1" style="height:7px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
              aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
              style="width: 50%"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="h-100 d-inline-block text-decoration-none text-dark shadow rounded" href="#">
        <div class="card">
          <img src="../../../assets/images/invest5.jpg" class=" objetFitCover" alt="project Image" width="430"
            height="300">
          <div class="card-body">
            <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the
              card's
              content
              to build on the card title and make up the bulk of the card's.</p>
          </div>
          <div class="progress mt-1" style="height:7px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              aria-label="Animated striped example" aria-valuenow="756" aria-valuemin="0" aria-valuemax="100"
              style="width: 75%"></div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="h-100 d-inline-block text-decoration-none text-dark shadow rounded" href="#">
        <div class="card">
          <img src="../../../assets/images/invest6.jpg" class=" objetFitCover" alt="project Image" width="430"
            height="300">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
              card's
              content
              to build on the card title and make up the bulk of the card's.</p>
          </div>
          <div class="progress mt-1" style="height:7px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar"
              aria-label="Animated striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
              style="width: 25%"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="my-5"></div>
