

<div class="container">
  <div class="row">
      <h4 class="text-center my-5 text-uppercase color-1 offset-md-2 col-md-8 ">Page de Création d'un compte</h4>
      <div class="offset-md-2 col-md-8">

          <div class="h-100 border rounded shadow">
                <div class="colorBtn-1 p-3 text-capitalize text-white d-flex justify-content-between">
                     <div>Créer un compte</div>
                     <a routerLink="/login" class="d-inline-block text-decoration-none text-white">Vous avez déjà un compte? cliquez ici </a>
                </div>
                <div class="p-5 marginCustomLeft45" >
                    <form  class="w-75" [formGroup]="registerForm" (ngSubmit)="register()">
                      <!-- Name -->
                      <div class="form-group mb-1">
                        <label for="nickname" class="fw-bold my-1" >Nom</label>
                        <input type="text"   class="form-control shadow mb-1 "  formControlName="nickname" id="nickname">
                        <span class="text-danger  fontSizeError" *ngIf="registerForm.get('nickname')?.touched && registerForm.get('nickname')?.errors?.['required']">Le champs est requis</span>
                      </div>

                      <!-- Email -->
                      <div class="form-group mb-1">
                        <label for="Email" class="fw-bold my-1">Email</label>
                        <input type="mail"  formControlName="email" class="form-control shadow mb-1" id="Email">
                        <span class="text-danger fontSizeError" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Le champs est requis</span>
                        <span class="text-danger fontSizeError" *ngIf="registerForm.get('email')?.errors?.['email']">Veuillez entrer un email valide</span>
                      </div>

                      <!-- password -->
                      <div class="form-group mb-1">
                        <label for="pwd" class="fw-bold my-1">PassWord</label>
                            <input type="password" formControlName="password" class="form-control shadow mb-1" id="pwd">
                            <span class="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Le champs est requis</span>
                            <span class="text-danger fontSizeError" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['pattern']">Votre mot de passe doit contenir au moins une lettre, un chiffre, un caractère spécial et une majuscule</span>
                            <span class="text-danger fontSizeError" *ngIf="registerForm.get('password')?.errors?.['minlength']">Votre mot de passe doit faire au moins 8 caractères</span>
                      </div>
                      <!-- birtDay -->
                      <div class="form-group mb-1">
                         <label for="birtDay" class="fw-bold my-1">BirtDay</label>
                          <input type="date" formControlName="birtDay" class="form-control shadow mb-1" id="birtDay">
                          <span class="text-danger fontSizeError" *ngIf="registerForm.get('birtDay')?.touched && registerForm.get('birtDay')?.errors?.['required']">Le champs est requis</span>
                      </div>

                      <div class="form-group my-3">
                        <select formControlName="role" class="form-control shadow">
                          <option value="" hidden>Choisissez Votre Profil</option>
                          <option *ngFor="let role of typeDeRole" value="{{role.id}}">{{role.role}}</option>
                      </select>
                      <span class="text-danger fontSizeError " *ngIf="registerForm.get('role')?.touched && registerForm.get('role')?.errors?.['required']">Le champs est requis</span>
                      </div>
                      <button class="btn button my-3 w-100" type="submit">S'enregistrer</button>
                    </form>
                </div>
          </div>
      </div>
    </div>
</div>








<!-- <div>
    <div>
        <h2>Créer un compte</h2>
        <form [formGroup]="registerForm" (ngSubmit)="register()">

            <input type="text" placeholder="Entrez votre pseudo" formControlName="nickname">
            <span class="error" *ngIf="registerForm.get('nickname')?.touched && registerForm.get('nickname')?.errors?.['required']">Le champs est requis</span>

            <input type="mail" placeholder="Entrez votre email" formControlName="email">
            <span class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">Le champs est requis</span>
            <span class="error" *ngIf="registerForm.get('email')?.errors?.['email']">Veuillez entrer un email valide</span>

            <input type="password" placeholder="Entrez votre mot de passe" formControlName="password">
            <span class="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">Le champs est requis</span>
            <span class="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['pattern']">Votre mot de passe doit contenir au moins une lettre, un chiffre, un caractère spécial et une majuscule</span>
            <span class="error" *ngIf="registerForm.get('password')?.errors?.['minlength']">Votre mot de passe doit faire au moins 8 caractères</span>

            <input type="password" placeholder="Confirmez votre mot de passe" formControlName="confirmPassword">
            <span class="error" *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors?.['required']">Le champs est requis</span>
            <span class="error" *ngIf="registerForm.errors?.['notsame']">Le mot de passe n'est pas identique</span>

            <input type="date" formControlName="birtDay">
            <span class="error" *ngIf="registerForm.get('birtDay')?.touched && registerForm.get('birtDay')?.errors?.['required']">Le champs est requis</span>

            <select formControlName="role">
                <option value="" hidden>ROLES</option>
                <option value="2">Contributeur</option>
                <option value="3">ProjectOwner</option>
            </select>
            <span class="error" *ngIf="registerForm.get('role')?.touched && registerForm.get('role')?.errors?.['required']">Le champs est requis</span>

            <input type="submit" value="Créer mon compte">
        </form>
        <a routerLink="/login">Déjà un compte ? Cliquez ici pour vous connecter</a>
    </div>
</div> -->
