

.palier{
    margin-top: 10%;
    margin-bottom: 10%;
}

.remove{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}