<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
          <div class="col-12">
            <img src="../../../../assets/images/projet1.jpg" alt="" width="500" height="500">
          </div>
      </div>
    </div>
    <div class="col-md-6 border">
          <div class="row">
                <div class="col-12">
                  <h3>Titre</h3>
                  <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia quae minima est.</div>
                </div>
          </div>
          <div class="row">

          </div>
          <div class="row">

          </div>
    </div>
  </div>
</div>
