<div class="container">
  <div class="row">
      <h4 class="text-center my-5 text-uppercase color-1 offset-md-2 col-md-7">Page de Connexion</h4>
      <div class="offset-md-2 col-md-7">
          <div class="h-100 border rounded shadow ">
                <div class="colorBtn-1 p-3 text-capitalize text-white d-flex justify-content-between">
                     <div>se connecter</div>
                     <a routerLink="/register" class="d-inline-block text-decoration-none text-white">Pas de compte ? cliquez ici </a>
                </div>
                <div class="p-5 marginCustomLeft45" >
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="form-group w-75 ">
                        <label for="" class="fw-bold mb-1" >Login</label>
                        <input type="text" class="form-control shadow mb-1"  formControlName="email" >
                      </div>
                      <div class="form-group w-75">
                        <label for="" class="fw-bold mb-1">password</label>
                        <input type="password" class="form-control shadow" formControlName="password">
                      </div>
                      <button class="btn button my-3" type="submit">Se connecter</button>
                    </form>
                </div>
          </div>
      </div>
    </div>
</div>





<!-- <div>
    <div>
        <h2>Connexion</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <input type="text" placeholder="Entrez votre login ou email" formControlName="email" >
            <input type="password" placeholder="Entrez votre mot de passe" formControlName="password">
            <input type="submit" value="Me connecter">
        </form>
    </div>
</div> -->
